[% USE date %]
[% USE Markdown %]
[% MACRO site_mod PERL %]
	use DateTime;
	my $dt = DateTime->now;
	my $dmy = $dt->dmy;         # 20-07-2022
	my $hms = $dt->hms;         # 14:02:29
	print "$dmy";
[% END %]

<div class="container">
	<div class="column">
		<p>
		    <a href="https://validator.w3.org/check/referer">
		 <img style="border:0;width:88px;height:31px;" 
		      src="https://jigsaw.w3.org/css-validator/images/vh40" 
		      alt="Valid XHTML 4.0!"/>
		    </a>
		</p>
		<p>
		    <a href="https://jigsaw.w3.org/css-validator/check/referer">
			<img style="border:0;width:88px;height:31px"
			    src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
			    alt="Valid CSS!" />
		    </a>
		</p>
		<p>
		     <a href="//www.w3.org/QA/" title="W3C's Quality Assurance Activity, bringing you free Web quality tools and more">
		  <img src="https://jigsaw.w3.org/css-validator/images/woolly-icon" 
		       alt="Learn CSS">
		     </a>
		</p>

		<!-- <small>document last modified: [% doc_modified %]</small> -->
		<br>
		<small>site last modified: [% site_mod %]</small>
		<br>
		<small>Ryan J.P. Casalino &copy; 2015 - [% date.format(date.now, '%Y') %]</small>
	</div>
</div>
<script data-goatcounter="https://boringtranquility-io.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

<script>
  document.querySelectorAll('.use-latex-logo').forEach(el => {
    el.append(document.getElementById('latex-logo').content.cloneNode(true));
  });
</script>
</body>
</html>
