body {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	font-family: sans-serif;
	line-height: 1.5;
	overflow-x: hidden;
}

aside {
	width: 40%;
	padding-left: .5rem;
    	margin-left: .5rem;
	float: right;
	box-shadow: inset 5px 0 5px -5px #29627e;
	font-style: italic;
	color: #29627e;
}

 /* horizontal rule 
  */
hr {
	overflow: visible; /* For IE */
	padding: 0;
	border: none;
	border-top: medium double #333;
	color: #333;
	text-align: center;
}

hr:after {
	content: "\00A7";
	display: inline-block;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
	background: white;
}

a {
	color: black;
	text-decoration: underline;
}

a:visited {
	color: black;
	text-decoration: underline;
}

a:hover {
	color: black;
	text-decoration: none;
}

ol {
	margin: 15px;
	line-height: 1.5;
}

pre {
	background-color: #FFF;
	white-space: pre-wrap;
	padding: 10px;
	max-width: 50vw;
}

img {
	max-width: 100%; 
	height: auto;
}

figcaption {
	font-size: .84em;
	text-align: center;
}

.footnotes {
	font-size: .84em;
	text-align: left;
	line-height: 1;
	list-style: none;
	line-break: anywhere;
}

.masthead-wrap {
 filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

#masthead {
  max-width: 50vw;
  clip-path: polygon(0% 0%, 87% 5%, 98% 87%, 3% 93%);
  -webkit-clip-path: polygon(0% 0%, 87% 5%, 98% 87%, 3% 93%);
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
 body {
   margin-left: auto;
   margin-right: auto;
   width: 75vw;
   font-family: sans-serif;
   line-height: 1.5;
   overflow-x: hidden;
 }
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
 body {
   margin-left: auto;
   margin-right: auto;
   width: 75vw;
   font-family: sans-serif;
   line-height: 1.5;
   overflow-x: hidden;
 }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
 body {
   margin-left: auto;
   margin-right: auto;
   width: 75vw;
   font-family: sans-serif;
   line-height: 1.5;
   overflow-x: hidden;
 }
}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
 body {
   margin-left: auto;
   margin-right: auto;
   width: 75vw;
   font-family: sans-serif;
   line-height: 1.5;
   overflow-x: hidden;
 }
}
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
 body {
   margin-left: auto;
   margin-right: auto;
   width: 75vw;
   font-family: sans-serif;
   line-height: 1.5;
   overflow-x: hidden;
 }
}
