<p>
    <a href="https://validator.w3.org/check/referer">
	<img style="border:0;width:88px;height:31px;" 
	     src="https://jigsaw.w3.org/css-validator/images/vh40" 
	     alt="Valid XHTML 4.0!"/>
    </a>
</p>
<p>
    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
            src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
            alt="Valid CSS!" />
    </a>
</p>
<small>page last modified: {{ time_stamp }}</small>    
<script data-goatcounter="https://boringtranquility-io.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</body>
</html>
