{% include '/partials/header.html' %}

 <body>
   <h1>Boring Tranquility</h1>
    <p><a href="https://en.wikipedia.org/wiki/Daniel_Webster">"Liberty and Union, now and forever, one and inseparable!"</a></p>
    <p>I am Ryan. I am a programmer based in Seattle, WA USA. This is my blog.</p>
    <hr>
    <div style="margin: 0 auto;">
	    <small>posts</small>
	    <ol>
	    {% for p in posts|sort %}
    		<li><a href="/posts/{{p}}">{{p}}</a></li>
    	    {% endfor %}
	    </ol>
    </div>
{% include '/partials/footer.html' %}
