{% include '/partials/header.html' %}

 <body>
   <h1>Boring Tranquility</h1>
    <img src="/static/bored.jpg" alt="bored masthead">
    <p><a href="https://en.wikipedia.org/wiki/Daniel_Webster">"Liberty and Union, now and forever, one and inseparable!"</a></p>
    <p><em>FREE HONG KONG</em></p>
    <blockquote cite=https://music.georgeclanton.com/track/you-lost-me-there><em>
		    <div> I tried to stop you / </div>
		    <div> But you just keep on fading /</div>
		    <div> God / </div>
		    <div> And I won't ask why / </div>
		    <div> I'll just fake it til the end / </div>
		    <div> Baby, If you throw me out / </div>
		    <div> Can I tell you then? / </div>
		    <div> I don't touch the fire / </div>
		    <div> Still I get burned til I'm dead inside / </div>
		    <div> Will you come back again? / </div>
		    <div> We can convene, make it forever </div>
	    </em>
    	<div> - Geroge Clanton, "You Lost Me There"</div>
    </blockquote>
    <ul>
	    <li><a href="/living_notes">living notes on tech</a></li>
	    <li><a href="/archive/2019/nix.html">notes on installing Nixos</a></li>
	    <li><a href="/archive/2019/arch.html">notes on installing Arch</a></li>
    </ul>
    <hr>
    <div style="margin: 0 auto;">
	    <small>posts</small>
	    <ol>
	    {% for t, l in posts.items()|sort(reverse=True) %}
    		<li><a href="/posts/{{l}}">{{t|replace("-", " ")|replace("_", " ")}}</a></li>
    	    {% endfor %}
	    </ol>
    </div>
{% include '/partials/footer.html' %}
