{% include '/partials/header.html' %}

 <body>
   <h1>Boring Tranquility</h1>
    <img src="/static/bored.jpg" alt="bored masthead">
    <p><a href="https://en.wikipedia.org/wiki/West_with_the_Night"><span>&OpenCurlyDoubleQuote;</span>Boredom, like hookworm, is endemic.<span>&CloseCurlyDoubleQuote;</span></a></p>
    <p><a href="https://en.wikipedia.org/wiki/Daniel_Webster"><span>&OpenCurlyDoubleQuote;</span>Liberty and Union, now and forever, one and inseparable!<span>&CloseCurlyDoubleQuote;</span></a></p>
    <blockquote cite=https://music.georgeclanton.com/track/you-lost-me-there><em>
		    <div><span>&OpenCurlyDoubleQuote;</span>I tried to stop you</div>
		    <div>But you just keep on fading</div>
		    <div>God</div>
		    <div>And I won't ask why</div>
		    <div>I'll just fake it til the end</div>
		    <div>Baby, if you throw me out</div>
		    <div>Can I tell you then?</div>
		    <div>I don't touch the fire</div>
		    <div>Still I get burned til I'm dead inside</div>
		    <div>Will you come back again?</div>
		    <div>We can convene, make it forever.<span>&CloseCurlyDoubleQuote;</span></div>
	    </em>
	    <div> - Geroge Clanton, <span><a href="https://www.youtube.com/watch?v=wkvmouecsaA">You Lost Me There</a></span></div>
    </blockquote>
    <ul>
	    <li><a href="/living_notes">living notes on tech</a></li>
    </ul>
    <hr>
    <div style="margin: 0 auto;">
	    <small>posts</small>
	    <ol>
	    {% for t, l in posts.items()|sort(reverse=True) %}
    		<li><a href="/posts/{{l}}">{{t|replace("-", " ")|replace("_", " ")}}</a></li>
    	    {% endfor %}
	    </ol>
    </div>

{% include '/partials/footer.html' %}
