[% header = "partials/header.tmpl" %]
[% footer = "partials/footer.tmpl" %]
[% INCLUDE $header %]
<div class="container">
	<div class="column">
		<a href="/"><img style="margin-top: 1em;" src="https://www.w3.org/Icons/back.gif" alt="top back button to main index"/></a>
		<h3>[% title %]</h3>
		    <div>
		    [% FOREACH part IN body %]
			[% part %]
		    [% END %]
		    </div>
	</div>
	<a href="/"><img style="margin-bottom: 1em;" src="https://www.w3.org/Icons/index.gif" alt="bottom button to main index"></a>
[% INCLUDE $footer %]
</div>

